.back-canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.info-float {
    background: grey;
    padding: 3px;
    width: fit-content;
    border-radius: 4px;
    border: 2px solid black;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 8px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.zoom-button {
    font-size: 20px;
}

.link-button {
    font-size: 18px;
}

.section-label {
    margin: 0 0 8px 0;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.layer-label {
    border: 2px solid black;
    border-radius: 3px;
    background: dimgrey;
    padding-right: 4px;
    accent-color: white;
}

.player-button {
    width: fit-content;
}

.button {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 3px;
    background: dimgrey;
}

.no-margin {
    margin: 0;
}